# Machine Learning

## Importar dados
## Limpar dados

In [ ]:
import pandas as pd

In [ ]:
arquivo = "https://raw.githubusercontent.com/salgado/pos.lasalle.datascience/main/music.csv"

music = pd.read_csv(arquivo)

In [ ]:
music

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
music.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [ ]:
# Separar entradas de saídas
X = music.drop(columns=['genre'])
y = music['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [ ]:
#biblioteca de machine para python
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Escolher o modelo ideal
model = DecisionTreeClassifier()

In [ ]:
# Treinar o modelo
model.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#predições
music

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
predicao = model.predict([[21, 1],[32, 0] ])
predicao

array(['HipHop', 'Classical'], dtype=object)

In [ ]:
# Medir acurácia
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.describe()

             age     gender
count  14.000000  14.000000
mean   27.928571   0.500000
std     5.030129   0.518875
min    20.000000   0.000000
25%    25.000000   0.000000
50%    27.500000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [ ]:
X_test.describe()

             age   gender
count   4.000000  4.00000
mean   28.000000  0.50000
std     6.271629  0.57735
min    20.000000  0.00000
25%    25.250000  0.00000
50%    28.500000  0.50000
75%    31.250000  1.00000
max    35.000000  1.00000

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# retreinar o modelo
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

prova = model.predict(X_test) 

# corrigir a prova- definir a acurácia do modelo
score = accuracy_score (y_test, prova)
score

0.5

In [ ]:
X_test

    age  gender
17   35       0
13   27       0
0    20       1
5    30       1

In [ ]:
prova

array(['Classical', 'Acoustic', 'HipHop', 'Jazz'], dtype=object)

In [ ]:
# corrigir a prova- definir a acurácia do modelo
score = accuracy_score (y_test, prova)
score

1.0

In [ ]:
#persistir o modelo
from sklearn.externals import joblib

# retreinar o modelo
model = DecisionTreeClassifier()
model.fit(X, y)

joblib.dump(model, 'recomenda-musica.joblib')

#prova = model.predict(X_test) 


# corrigir a prova- definir a acurácia do modelo
#score = accuracy_score (y_test, prova)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['recomenda-musica.joblib']

In [ ]:
# usar modelo persistido - inferência

meumodelo = joblib.load("/content/recomenda-musica.joblib")

predicao = meumodelo.predict ([[21, 1],[32, 0] ])
predicao

array(['HipHop', 'Classical'], dtype=object)